@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.mainHome {
  height: 107vh;
  background-color: #ff82a1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainHome .mainHome--textformat {
  color: white;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.mainNosotros {
  height: auto;
}
.mainNosotros .mainNosotros__contenedor {
  padding: 10px 10px 10px 10px;
  background-color: #ffc315;
}
.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left {
  background-color: #aad7d2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  box-shadow: 1px 1px 12px 0pc black;
}
.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .imgNos1, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .imgNos1 {
  max-width: 350px;
  max-height: 350px;
  padding: 20px 20px 20px 20px;
}
.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .mainNosotros__contenedor__elemento__texts, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .mainNosotros__contenedor__elemento__texts {
  margin: 20px 20px 20px 20px;
}
.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .mainNosotros__contenedor__elemento__texts h4, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .mainNosotros__contenedor__elemento__texts h4, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .mainNosotros__contenedor__elemento__texts p, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .mainNosotros__contenedor__elemento__texts p {
  color: black;
  font-weight: bold;
}
.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left {
  flex-direction: row-reverse;
  background-color: #ff82a1;
}
.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento:hover, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.bg-col1 {
  background: #b7d6eb;
}

.bg-col2 {
  background: #ff82a1;
}

.bg-col3 {
  background: #ffc315;
}

.bg-col4 {
  background: #635f73;
}

i {
  font-size: 50px;
  padding-bottom: 5px;
}

.mainDescargas {
  background-color: #ffc315;
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainDescargas .contenedor {
  background-color: #b7d6eb;
  box-shadow: 1px 1px 12px 0pc black;
  margin: 20px 20px 20px 20px;
}
.mainDescargas .contenedor h3 {
  font-size: xx-large;
}
.mainDescargas .contenedor p {
  font-size: medium;
  margin: 20px 20px 20px 20px;
}
.mainDescargas .contenedor a {
  background-color: #635f73;
  color: white;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.mainDescargas .contenedor a:hover {
  background-color: #ffc315;
  transition: 0.3s ease-in-out;
}
.mainDescargas .contenedor:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.mainContacto {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainContacto .contacto {
  width: 500px;
}
.mainContacto .contenido {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContacto .contenido .textos {
  margin-top: 20px;
}
.mainContacto .contenido .textos:hover {
  transform: scale(1.03);
  transition: 0.3s, 0.3s;
}
.mainContacto .contenido .mapa {
  padding: 20px 20px 20px 20px;
  width: 300px;
  height: 300px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

.headerArea {
  height: 20vh;
  background-color: #635f73;
}
.headerArea .logo {
  padding-left: 100px;
}

.footer--area {
  height: auto;
  width: auto;
  background-color: black;
}
.footer--area .footer__titulo--propiedades {
  color: white;
  font-style: bold;
}
.footer--area .footer__redes--size {
  font-size: 35px;
}
.footer--area .footer__redes--size .footer__redes__item--inst {
  color: #ff0080;
}
.footer--area .footer__redes--size .footer__redes__item--pint {
  color: #c8232c;
}
.footer--area .footer__redes--size .footer__redes__item--fb {
  color: #3b5998;
}
.footer--area .footer__redes--size .footer__redes__item--ws {
  color: #00bd2d;
}

/*# sourceMappingURL=estilos.css.map */
