$color6: #ffc315;
$espacios: 20px 20px 20px 20px;


.mainDescargas{
    background-color: $color6;
    height: auto;
    display: flex;
    flex-direction: column;
    .contenedor{
        background-color: #b7d6eb;
        box-shadow: 1px 1px 12px 0pc black;
        margin: $espacios;
        h3{
            font-size: xx-large;
            }   
        p{
            font-size: medium;
            margin: $espacios;
            }
        a{
            background-color: #635f73;  
            color: white;
            text-decoration: none;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            }
        a:hover{
            background-color: #ffc315;
            transition: .3s ease-in-out;
         }

    }
    .contenedor:hover{
        transform: scale(1.03);
        transition: 0.3s;
    }
}

@media (min-width: 768px) {
    .gridArea {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        .elemento{
            width: 300px;
            height: 400px;
        }
    }
}

@media (min-width:1024px) {
    .gridArea {
        grid-template-columns: repeat(3, 1fr);
    }
}