$col1: #b7d6eb;
$col2: #ff82a1;
$col3: #ffc315;
$col4: #aad7d2;

.color1{
  background-color: $col1;
}
.color2{
  background-color: $col2;
}
.color3{
  background-color: $col3;
}
.color4{
  background-color: $col4;
}
i{
  font-size: 2*25px;
  padding-bottom: 5px;
}