@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.mainHome {
  height: 107vh;
  background-color: #ff82a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainHome .mainHome--textformat {
  color: white;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.mainNosotros {
  height: auto;
}

.mainNosotros .mainNosotros__contenedor {
  padding: 10px 10px 10px 10px;
  background-color: #ffc315;
}

.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left {
  background-color: #aad7d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 20px 20px 20px;
  -webkit-box-shadow: 1px 1px 12px 0pc black;
          box-shadow: 1px 1px 12px 0pc black;
}

.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .imgNos1, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .imgNos1 {
  max-width: 350px;
  max-height: 350px;
  padding: 20px 20px 20px 20px;
}

.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .mainNosotros__contenedor__elemento__texts, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .mainNosotros__contenedor__elemento__texts {
  margin: 20px 20px 20px 20px;
}

.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .mainNosotros__contenedor__elemento__texts h4, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .mainNosotros__contenedor__elemento__texts h4, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento .mainNosotros__contenedor__elemento__texts p, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left .mainNosotros__contenedor__elemento__texts p {
  color: black;
  font-weight: bold;
}

.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #ff82a1;
}

.mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento:hover, .mainNosotros .mainNosotros__contenedor .mainNosotros__contenedor__elemento--left:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.color1 {
  background-color: #b7d6eb;
}

.color2 {
  background-color: #ff82a1;
}

.color3 {
  background-color: #ffc315;
}

.color4 {
  background-color: #aad7d2;
}

i {
  font-size: 50px;
  padding-bottom: 5px;
}

.mainDescargas {
  background-color: #ffc315;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainDescargas .contenedor {
  background-color: #b7d6eb;
  -webkit-box-shadow: 1px 1px 12px 0pc black;
          box-shadow: 1px 1px 12px 0pc black;
  margin: 20px 20px 20px 20px;
}

.mainDescargas .contenedor h3 {
  font-size: xx-large;
}

.mainDescargas .contenedor p {
  font-size: medium;
  margin: 20px 20px 20px 20px;
}

.mainDescargas .contenedor a {
  background-color: #635f73;
  color: white;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.mainDescargas .contenedor a:hover {
  background-color: #ffc315;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.mainDescargas .contenedor:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .gridArea {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gridArea .elemento {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .gridArea {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.mainContacto {
  background-color: #ffc315;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mainContacto .contacto {
  margin: 0px 20px 20px 20px;
}

.mainContacto .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.mainContacto .contenido .textos {
  margin: 20px 20px 20px 20px;
}

.mainContacto .contenido .textos:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s, 0.3s;
  transition: 0.3s, 0.3s;
}

.mainContacto .contenido .mapa {
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 300px;
}

@media (min-width: 768px) {
  .contenido {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenido .textos {
    margin-top: 20px;
  }
  .contenido .textos:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 0.3s, 0.3s;
    transition: 0.3s, 0.3s;
  }
  .contenido .mapa {
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .mainContacto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mainContacto .contacto {
    width: 500px;
  }
  .mainContacto .contenido {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

.headerArea {
  height: 20vh;
  background-color: #635f73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.navArea {
  height: 10vh;
}

.footer--area {
  height: auto;
  width: auto;
  background-color: #ff82a1;
}

.footer--area .footer__titulo--propiedades {
  font-style: bold;
}

.footer--area .footer__redes--size {
  font-size: 35px;
}

.footer--area .footer__redes--size .color {
  color: white;
}
/*# sourceMappingURL=styles.css.map */