@import '_home.scss';   
@import '_nosotros.scss';
@import '_promociones.scss';
@import '_descargas.scss';
@import '_contacto.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

//Paleta de colores//
$color0: white;
$color1: black;
$color2: #aad7d2;
$color3: #ce9fbc;
$color4: #b7d6eb;
$color5: #ff82a1;
$color6: #ffc315;
$color7: #635f73;

$instcolor: #ff0080;
$fbcolor: #3b5998;
$pintcolor: #c8232c;
$wscolor: #00bd2d;

//Fuente//
$font: 'Quicksand', sans-serif;

body{
    font-family: $font;
}
.headerArea{
    height: 20vh;
    background-color: $color7;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
} 

.navArea{
    height: 10vh;
}

//Bloques del footer//
.footer--area{
    height: auto;
    width: auto;
    background-color: $color5;
    .footer__titulo--propiedades{
        font-style: bold;
    }
    .footer__redes--size{
        font-size: 35px;
        .color{
            color: $color0;
        }
    }
    
}